/* 裝置螢幕寬度在 768px 以下 */

.logo {
  font-size: 42px;
}

.show-in-mweb {
  display: none;
}

.content {
  padding: 70px 30px 0;
}

.slider-bar-image-clip-box {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.slider-bar-title {
  box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1.5em;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  margin: 0 7%;
  position: relative;
  bottom: 80px;
}

.content1 {
  margin: 0 6%;
}

.article-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row-2 {
  width: 50%;
  padding: 0 15px;
}

.row-3 {
  width: 33.3%;
  padding: 15px;
}

.row-2 img {
  max-height: 300px;
}

.row-3 img {
  max-height: 250px;
}

.font-size-1-8 {
  font-size: 1.8em;
}

.footer-section1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.footer-section2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
  margin-top: 70px;
  border-top: 1px solid #cccccc;
}

.article-area {
  display: flex;
  flex-flow: row wrap;
}

.article-area-1 {
  width: 70%;
  order: 1;
}

.article-area-2 {
  order: 3;
}

.article-area-3 {
  width: 30%;
  order: 2;
}

.article-content {
  margin: 40px 7% 0;
}

.article-area-3 > h3 {
  margin-left: 30px;
}

.article-list {
  padding: 0 50px;
}

/* signup.html is below this comment */

.signup-area {
  margin: 30px 20%;
}

/* Popup Dialog Login is below this comment */

.dialog-box-background {
  height: 100%;
}

.dialog-box {
  position: relative;
  background: #ffffff;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 15px 20px;
  top: 50%;
  left: 50%;
  /* calc(-50%, - 35px) The 35px equal height of header divided by 2*/
  transform: translate(-50%, calc(-50% - 35px));
}
