/* 裝置螢幕寬度在 768px 以下 */

.logo {
  font-size: 22px;
}

.disable-in-mweb {
  display: none;
}

.content {
  padding: 70px 0 0;
}

.search-box-background {
  height: calc(100% - 70px);
}

.slider-bar-image-clip-box {
  width: 100%;
  max-width: 100%;
}

.slider-bar-title {
  padding: 10px;
  font-size: 1.3em;
  line-height: 1.5em;
}

.article-row {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.article-area {
  padding: 0 10px;
}

.article-info-and-share > div:first-child {
  margin-bottom: 10px;
}

.article-content {
  margin: 40px 0 0;
}


.footer-section1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-section2 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 0;
  margin-top: 70px;
  border-top: 1px solid #cccccc;
}

/* signup.html is below this comment */

.signup-area {
  margin: 30px 10px;
}

/* Popup Dialog Login is below this comment */

.dialog-box-background {
  height: calc(100% - 70px);
}

/* channel.html is below this comment */

.channel-photo {
  min-width: 90px;
  height: 90px;
}

.channel-photo > img {
  max-height: 100%;
  margin-left: -25%;
}
